#map {
  height: 100%;
  margin-left: 400px;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Tahoma;
}

#sidebar {
  height: 100%;
  width: 400px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  color: #D4FF00;
  background-color: #4F4F4F;
  padding-left: 25px;
  overflow-y:scroll;
}

#sidebar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.light-gray {
  background-color: #A3BFA8;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}
#right-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}
#floating-panel {
  background: #fff;
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  display: none;
}
@media print {
  #map {
    height: 500px;
    margin: 0;
  }
  #right-panel {
    float: none;
    width: auto;
  }
}

.sessionButton {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}

.sessionButton:hover {
    cursor: pointer;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

span.icon {
    background: url('mIcon.ico') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}

#signOutButton {
    display: none;
}

#start {
  display: none;
}

/* https://developers.google.com/identity/sign-in/web/build-button */

.search{
font-size: 120%;
margin: 20px;
}
.searchBar{
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
  border-color: #d4ff00;
}
.searchResults{
    background-color: grey;
  padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
.joinButton{
    background-color: grey;
  border: 0px;
margin: 20px;
}
.courseOption{
    background-color: transparent;
  border: 0px;
  
}

.groupContainer {
  padding-top: 20px;
}

.groupContainer:hover {
  cursor: pointer;
  background-color: white;
}