<!DOCTYPE html>

<html lang="en-US">
<head>
  <title>Studdy Course Search</title>
    <!-- JS Includes -->
    <script src="js/cookie.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
    <script src="js/firebase.js"></script>
    <script src="js/helper.js"></script>
    <script src="js/search.js"></script>

    <!-- Style sheets -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/studdy.css">
    <link rel="stylesheet" type="text/css" href="css/searchStyle.css">

  </title>
</head>

<body ng-app = "493Search">
<div class = "container" ng-controller="searchResult">
  <div class = "search" id ="termSearch">
      Your Term: W17
  </div>
  <div class = "search" id="classSearch" >
      Your Class:
      <input type="text" ng-keyup="myFunc($event)" ng-model="searchInput" class="searchBar">
  </div>
  <div class = "searchResults">
      <!--<div>{{classList[0]}}</div>
      <div>{{classInfo1}}</div>
      <div>Search Result 3</div>
      <div>Search Result 4</div>
      <div>Search Result 5</div>-->
      <div ng-repeat="x in classInfo" >
          <button class="courseOption" ng-click="selectCourse(x)">{{x.SubjectCode + " " + x.CatalogNumber + ": " + x.CourseDescr}}</button>
      </div>

  </div>
    <div>Selected Course: {{selectedCourse}}</div>
  <button type="button" class="joinButton" id="joinOthersButton" ng-click="join(x)">Join Others</button>
  <button type="button" class="joinButton" id="joinMeButton" ng-click="join(x)">Join Me</button>
</div> <!-- end of container --> 
</body>
</html>
